<footer th:fragment="footer_page">

    <!-- Contenedor para redes sociales -->
    <div class="social_media">

        <!-- Lista redes sociales -->
        <ul class="social_media_list">

            <li>

                <a href="https://www.facebook.com"
                   target="_blank"
                   rel="noopener">

                    <img class="social_media_icon"
                         th:src="@{/images/appImages/Facebook1.png}"
                         alt="Facebook">

                </a>

            </li>

            <li>

                <a href="https://www.instagram.com"
                   target="_blank"
                   rel="noopener">

                    <img class="social_media_icon"
                         th:src="@{/images/appImages/Instagram1.png}"
                         alt="Instagram">

                </a>

            </li>

            <li>

                <a href="https://www.whatsapp.com"
                   target="_blank"
                   rel="noopener">

                    <img class="social_media_icon"
                         th:src="@{/images/appImages/Whatsapp1.png}"
                         alt="Whatsapp">

                </a>

            </li>

        </ul>

    </div>

</footer>