<div th:fragment="side_panel_page">

    <!-- Capa de Overlay oscura -->
    <div class="overlay" id="overlay"></div>

    <!-- Panel de opciones lateral -->
    <aside class="side_panel" id="side-panel">

        <!-- Botón para cerrar panel -->
        <button class="close_button" id="close-button">✕</button>

        <!-- Título del panel -->
        <h2 class="panel_title">
            NEXTSHOP
        </h2>

        <!-- Opciones del panel lateral -->
        <nav class="panel_menu">

            <a th:href="@{/products}" class="panel_link">
                PRODUCTS
            </a>

            <a th:href="@{/find}" class="panel_link">
                FIND
            </a>

            <a th:href="@{/categories}" class="panel_link">
                CATEGORIES
            </a>

            <a th:href="@{/login}" class="panel_link">
                LOGIN
            </a>

            <a th:href="@{/cart}" class="panel_link">
                CART
            </a>

        </nav>

    </aside>

</div>