/* ******************************************************************************************************************/
/*   NEXTSHOP: HOJA DE ESTILOS */
/* ********************************************************************************************************************/

/* ********************************************************************************************************************/
/* CONFIGURACIÓN GENERAL DE ELEMENTOS HTML */
/* Define estilos base y comportamiento visual general
/* para etiquetas HTML utilizadas en el proyecto */
/* ********************************************************************************************************************/

/* ********************************************************************************************************************/
/* RESET */
/* ********************************************************************************************************************/

/* Propiedades generales */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* <Html>  Página */
html{
    background:#F8E9C0;;
}

/* <Section> presentación visual para secciones*/
section{
    border: 2.5px solid coral;
    border-radius: 8px;
}

